<%= link_to post_path(post), :action => 'go' do %>
<div class="img-box">
  <%= image_tag(post.image.url, alt: 'Image', class: 'post-image img-responsive mx-auto') if post.image? %>
</div>
<% end  %>
<br>
